* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 5vw;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background: rgba(255,255,255,0.9);
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_icon {
  margin-left: 3vw;
  height: 4vw;
}

.logo_text {
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  color: #a3e9f5;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0 0 0;
}

.lists {
  display: flex;
  list-style: none;
  align-items: center;
}

.book_new {
  margin-left: 5vw;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.books_search {
  margin: 0 3vw ;
  color: #333333;
  font-weight: bold;
  text-align: center;
}


.user_nickname,.login {
  margin-left: 3vw;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.logout,.sign_up {
  margin: 0 2vw 0 2vw;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.guest_login {
  margin-right: 2vw;
  padding: 7px;
  color: #333333;
  border: double 4px #666;
  font-weight: bold;
  text-align: center;
}

.guest_login:hover {
  background: #666;
  color: #ffffff;
  border: double 4px #ffffff;
}
