.search_form {
  display: flex;
}

.search_input {
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  display: block;
  margin-right: 10px;
}

.child{
  border-bottom: #666 1px solid;
  border-left: #666 1px solid;
  border-right: #666 1px solid;
  margin: 10px 0;
  padding-left: 11px;
}

.search_btn {
  height: 45px;
  width: 80px;
  margin: 5px 0 0 0;
}