.edit_book_title {
  font-size: 25px;
  display: inline-block;
}

.edit_book_title {
  position: relative;
  padding: 0.25em 0;
}

.edit_book_title:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(0,191,255,1), transparent);
  background: linear-gradient(to right, rgb(0,191,255,1), transparent);
}

.edit_isbn {
  margin-bottom: 30px;
  font-size: 15px;
}

.book_cover_field {
  padding-bottom: 20px;
}

b {
  font-size: 20px;
}