a {
  text-decoration: none;}

.main {
  width: 100%;
  height: 100%;
  padding: 120px 0 50px 0;
  background-color:rgb(246, 246, 246);
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.alert_message {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  color: red;
  background-color: #ffe4e1;
}

.notice_message {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  color: green;
  background-color: #d8f5d8;
}

.book_link_explanation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 40px;
  position: relative;
  background: -webkit-linear-gradient(to right, rgb(163,223,245), #ffffff);
  background: linear-gradient(to right, rgb(163,223,245), #ffffff);
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.app_title {
  width: 200px;
  font-family: serif;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 3px white;
  margin-bottom: 10px;
}

#bookslider {
  background-color: rgba(255,255,255,0.6);
}

.books-lists {
  display: flex;
}

.book_list {
  margin-left: 10px;
  width: 200px;
  list-style-type: none;
}

.book_img_content {
  position: relative;
}

.book_cover {
  height: 286px;
  width: 200px;
}

.book_info {
  color: black;
  text-shadow: none;
  text-align: center;
}

.book_title {
  display: inline;
  word-break: normal;
}

.bx-controls-direction {
  display: flex;
  justify-content: space-between;
  text-shadow: none;
  visibility: hidden;
  display: none;
}

.bx-prev,.bx-next {
  color: black;
}

.bx-pager-item {
  visibility: hidden;
  display: none;
}

.second_contents {
  margin-top: 50px;
  width: 100%;
}

.can_do_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.can_do_title_text {
  text-align: center;
  padding: 10px 70px 5px 70px;
}

.can_do_title_text {
  position: relative;
  border-bottom: 4px solid #3cb371;
}


.can_do {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
}

.can_do_contents {
  width: 300px;
  height: 350px;
  padding: 20px 30px 10px 30px;
  margin: 0 20px;
  font-weight: bold;
  background: #FFF;
  border: double 4px green;
  border-radius: 40px;
}

.contents_index {
  border-bottom: solid 3px #a9a9a9;
  text-align: center;
  margin-bottom: 25px;;
}

.details_lists {
  list-style: circle;
}

.list_text {
  margin: 10px 0;
}