.book_info_form {
  background-color: white;
  padding: 0 50px 50px 50px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  font-family: "游ゴシック", "YuGothic";
}

.h1 {
  color: #333333;
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 50px;
}

.error_alert {
  color: #cd5c5c;
  text-shadow: none;
  margin-bottom: 20px;
}

.isbn_field{
  display: flex;
}

.isbn_form,.field_with_errors {
  width: 100%;
}

.get_book_info_button {
  width: 10vw;
  margin: 5px 0 15px 5px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  background-color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

.get_book_info_button:hover {
  background: #57C3E9;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.description_form {
  height: 200px;
}

.field {
  margin-top: 12px;
}

.form_field {
  color: #333333;
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
}

.complement,.c_code_complement {
  color: black;
  text-shadow: none;
  font-size: 15px;
}

.example_numbers {
  color: black;
  text-shadow: none;
  font-size: small;
  margin-bottom: 15px;
}

.category_firstselect,.category_secondselect {
  height: 30px;
  width: 180px;
  margin-top: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.category_thirdselect {
  height: 30px;
  width: 180px;
  margin: 15px 0 20px 0;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.image {
  border: solid,1px #000000;
}

.btn {
  display: flex;
  justify-content: center;
}

.send_btn {
  margin: 20px 0 50px 0;
  width: 200px;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #3cb371;
  border: double 4px #3cb371;
  background: white;
  border-radius: 3px;
  transition: .4s;
}

.send_btn:hover {
  background: #3cb371;
  color: #ffffff;
  border: double 4px #ffffff;
}
