.new_main {
  width: 100vw;
  height: 100%;
  padding: 120px 0 50px 0;
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.index {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.index {
  position: relative;
  display: inline-block;
  padding: 25px 120px;
}

.index:before, .index:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 110px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.index:before {
  left:0;
}
.index:after {
  right: 0;
}

.error_alert {
  color: #cd5c5c;
  text-shadow: none;
  margin-bottom: 20px;
}

.isbn_field{
  display: flex;
}

.isbn_form,.field_with_errors {
  width: 100%;
}

.get_book_info_button {
  width: 10vw;
  margin: 5px 0 15px 5px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  background-color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

.get_book_info_button:hover {
  background: #57C3E9;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.pubdate_form, .category_form, .description_form, .keyword_form {
  visibility: hidden;
  display: none;
}

.field {
  margin-top: 12px;
}

.form_field {
  width: 500px;
  color: #333333;
  font-family: "游ゴシック", "YuGothic";
  font-size: 18px;
}

.complement {
  color:  #818181;
  font-size: 14px;
}

.form_complement, .example {
  color:  #818181;
  font-size: small;
}

.image {
  border: solid,1px #000000;
}

.preview_contents {
  display: flex;
  justify-content: center;
}

.preview {
  width: 200px;
  height: 286px;
}

.form_btn {
  display: flex;
  justify-content: center;
}

#book_data_image {
  width: 600px;
  font-size: 20px;
  font-weight: 300;
}

.send_btn {
  margin: 20px 0 50px 0;
  width: 200px;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #3cb371;
  border: double 4px #3cb371;
  background: white;
  border-radius: 3px;
  transition: .4s;
}

.send_btn:hover {
  background: #3cb371;
  color: #ffffff;
  border: double 4px #ffffff;
}
