.update-contents,.destroy-contents {
  margin-top: 140px;
  color: black;
  text-shadow: none;
  background-color: white;
}

.success {
  padding: 50px 200px;
}

.success-text {
  margin-bottom: 15px;
}

.home-btn {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.home-btn:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}