<div class='main'>
  <h1 class="h1">検索項目</h1>
  <div class="feeling_field">
    <label>今の気分より本を探す</label>
    <form class="search_form">
      <div>
        <input type=text class="search_input" id="mood_input">
        <div id="search_result" class="result_form"></div>
      </div>
      <button class="search_btn">検索</button>
    </form>
  </div>

  <div class="keyword_field">
    <label>キーワードにて本を探す</label>
    <form class="search_form">
      <div>
        <input type=text class="search_input" id="keyword_input">
        <div id="search_keyword_result" class="result_form"></div>
      </div>
      <button class="search_btn">検索</button>
    </form>
  </div>

  <div class="genre_field">
    <label>ジャンルより本を探す</label>
    <form class="search_form">
      <input type=text class="search_input">
      <button class="search_btn">検索</button>
    </form>
  </div>
</div>