.user_show_contents {
  width: 100%;
  height: 100%;
  color: black;
  text-shadow: none;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_show_books_data {
  background-color: #ffffef;
}

.user_show_book {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 70px 0;
  height: 310px;
  width: 200px;
}

.user_show_book_title {
  text-align: center;
  color: black;
  font-size: 18px;
}