.row {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 660px;
  *zoom: 1;
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  padding-top: 100px;
}

div.contents.row h2 {
  margin: 20px 0;
  font-weight: normal;
}

.container {
  margin-top: 20px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.user_index {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

#error_explanation {
  margin-bottom: 5vh;
  color: #cd5c5c;
}

.genre-select {
  height: 30px;
  width: 180px;
  margin: 5px 0 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.action {
  display: flex;
  justify-content: center;
}

.action_btn {
  margin: 40px 0 50px 0;
  width: 200px;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  background: white;
  border-radius: 3px;
  transition: .4s;
}

.action_btn:hover {
  color: white;
  border: double 4px white;
  background: #67c5ff;
}